.c-faq {
  padding-inline: var(--space-md);
}

/* l-section handles card look */

.c-faq__title {
  margin: 0;
  font-size: var(--size-3xl);
  font-weight: 700;
}

.c-faq__items {
  display: grid;
  gap: var(--space-md);
}

.c-faq__item {
  margin: 0;
}

/* l-item handles cell look */

.c-faq__question {
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  font-size: var(--size-lg);
}

.c-faq__answer {
  margin-block: var(--space-sm) 0;
  color: var(--muted);
}
