/* l-section handles card look */

.c-logo-strip__inner {
  width: 100%;
  display: grid;
  gap: var(--space-lg);
}

.c-logo-strip__title,
.c-logo-strip__lead {
  margin: 0;
}

.c-logo-strip__title {
  font-size: var(--size-2xl);
}

.c-logo-strip__lead {
  color: var(--muted);
  font-size: var(--size-lg);
}

.c-logo-strip__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.c-logo-strip__item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 9rem;
}

.c-logo-strip__link {
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--duration) var(--ease);
}

/* l-item handles cell look */

.c-logo-strip__image {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 2.5rem;
  height: auto;
  opacity: 0.6;
  transition: all var(--duration) var(--ease);
}

a.c-logo-strip__link:hover .c-logo-strip__image {
  opacity: 1;
  transform: scale(1.05);
}
